:root
{
    --header-bg-color: #334191;
    --body-bg-col: #252632;
    --header-text-color: hsl(0, 0%, 92%);
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf) format('truetype');
}

body
{
    background-color: var(--body-bg-col);
    padding: 0px;
    margin: 0px;
}

.header
{
    padding: 20px;
    margin: 0;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    vertical-align: middle;
}

.header-icon
{
    margin-left: 20%;
    max-width: 5%;
    max-height: 5%;
    filter: invert(100%);
    display: inline-block;
    vertical-align: middle;
}

.header-text
{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
}